{{>header}}

<p>Use this website to get your weather!</p>

<form>
	<input placeholder="Location" aria-label="Location" name="location" />
	<button type="submit" aria-label="Search">Search</button>
</form>

<p class="weather-forecast"></p>
<p class="error-msg"></p>

{{>footer}}